{% extends 'bootstrap/base.html' %}
    {% block head %}
    {{ super() }} 
    {% include 'include/_header.html' %}

    {% endblock %}

    {% block styles %}
    {{ super() }}
    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap-material-design.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='ripples.min.css') }}">
    {% endblock %}

    {% block navbar %}
       {% include 'include/_navbar.html' %}
    {% endblock %}


    {% block content %}
        {{ super() }}
    {% endblock %}

    {% block scripts %}
        {{ super() }}
        {{ moment.include_moment() }}
        {{ moment.lang("zh-CN") }}

        <script src="{{ url_for('static',filename='material.js') }}"></script>
        <script src="{{ url_for('static',filename='ripples.min.js') }}"></script>


        <!-- Dropdown.js -->
        <script src="{{ url_for('static',filename='jquery.dropdown.js') }}"></script>
        <script>
        $(".select").dropdown({ "autoinit" : ".select" });
        </script>

        <script>
        $.material.init();
        </script>
    {% endblock %}
