{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="container">
    <div class="container-fluid">
        <div class="form-group">
            {{ form.title(id="title", class="form-control" )}}
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    {{ form.body(only_input=True, rows=25, class="form-control") }}
                </div>
                <div class="col-md-6">
                    <div style="background:whitesmoke", item-height="200px">
                        {{ form.body(only_preview=True ) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-default") }}
        </div>
    </div>
</div>
<style>
.flask-pagedown-preview {
    border: 1px dotted black;
    background-color: #f0f0f0;
    height:500px;
}
</style>
<!--<div class="container">
    <div class="edit_article">
        <form action="" method="post" class="form" role="form">
            {{ form.hidden_tag() }}
            <div class="form-group  required">
                {{ form.title(id="title", class="form-control", placeholder=form.title.label.text )}}
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.body(only_input=True, class="form-control", placeholder=form.body.label.text, rows=10) }}
                    </div>
                    <div class="col-md-6">
                        {{ form.body(only_preview=True) }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-default") }}
            </div>

        </form>
    </div>
</div>-->
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
{% endblock %}

