{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}编辑博客{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>编辑博客</h1>
    </div>
    <div class="container-fluid">
        <form method="post">
                <form method="post" class="form" role="form">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.title.label }}
            {{ form.title(id="title", class="form-control" )}}
        </div>
        <div class="form-group">
            {{ form.body.label }}
            <div class="row">
                <div class="col-md-6">
                    {{ form.body(only_input=True, class="form-control") }}
                </div>
                <div class="col-md-6" > 
                    {{ form.body(only_preview=True ) }}
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-default") }}
        </div>
    </form>
        </form>
    </div>

    <style>
.flask-pagedown-preview {
    background-color: whitesmoke;
    height:500px;
    overflow-x:hidden;
    overflow-y: auto;
    
}
#flask-pagedown-body{
    height:500px;
    resize:none;
}
</style>

{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
{% endblock %}
